# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# API General
API_HOST='<---X--->.com'
API_PORT=8000
API_BASE_URL='http://<---X--->.com:8000'
CORS_ALLOW_ORIGINS=<--origin url-->,<--origin url-->,...
